.App {
  text-align: center;
}

body {
  background-color: rgb(92, 92, 92);
  color: black;
}

.App-header {
  background-color: rgb(6, 93, 128);
  min-height: 70px;
  padding: 20px;
  color: black;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}